<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>

		<RollingFile name="RollingFile"
			fileName="D://logs/pogues-bo-local.log"
			filePattern="D://logs/pogues-bo-local-%d{MM-dd-yyyy}-%i.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger{36} -
					%msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="1 MB" />
			</Policies>
		</RollingFile>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %level %logger{36} -
					%msg%n</Pattern>
			</PatternLayout>
		</Console>

	</appenders>

	<loggers>
		<Root level="INFO">
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="STDOUT" />
		</Root>
	</loggers>
</configuration>